<html>
    <header>

    </header>
    <body>
       
        <div class="container">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit" name="frm_get_orders">
                </form>
         </div>

         <div class="container">
             {% if context.original_order_data %}
                 <div>
                     <a href="../new_transaction/">Εισαγωγη</a>
                 </div>
                {{context.original_order_data}}
             {% endif %}
         </div>
         <div class="container">
             {% if context.new_order_data %}
                {{context.new_order_data}}
             {% endif %}
         </div>
         

    </body>
</html>