{% extends "base.html" %}
{% block content %}
    <div class="container">
        <table class="table">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" name="frm_insert">
            </form>
        </table>
        </div>

{% endblock %}      
        
