{% extends "base.html" %}
{% block content %}
<h1>{{ object.customer_name }}</h1>
<h1>{{ object.get_status_display }}</h1>
<p>Πληρωμή Αρχικής παραγγελίας: {{ object.original_order_payment }}</p>
<p>Περιγραφή: {{ object.description }}</p>
<p>Created: {{ object.created_at|date }}</p>
<p>Updated: {{ object.updated_at|date }}</p>

<a class="btn btn-primary" href="{{ object.pk }}/edit" role="button">ΑΛΛΑΓΗ</a>
{% endblock %}      
        
