{% extends "base.html" %}

{% block content %}
    <h2>Transactions</h2>
    <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Original Order</th>
                <th scope="col">Cloned Order</th>
                <th scope="col">Transaction Type</th>
                <th scope="col">Status</th>
                <th scope="col">Payment</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                <th scope="col">User</th>
              </tr>
            </thead>
            <tbody>
                {% for transaction in object_list %}

                    <tr>
                        <th scope="row">{{ transaction.id }}</th>
                        <td><a href="{{ transaction.pk }}">{{ transaction.customer_name }}</a></td>
                        <td>{{ transaction.original_order }}</td>
                        <td>{{ transaction.new_order }}</td>
                        <td>{{ transaction.get_trans_type_display }}</td>
                        <td>{{ transaction.get_status_display }}</td>
                        <td>{{ transaction.original_order_payment }}</td>
                        <td>{{ transaction.created_at|date }}</td>  
                        <td>{{ transaction.updated_at|date }}</td>     
                        <td>{{ transaction.author }}</td>                        
                    </tr>
                
                {% endfor %}             
            </tbody>
          </table>
   
{% endblock %}